## Импорт библиотек

In [36]:
import pandas as pd
import sqlite3

## Соединение с базой данных и схема таблицы

In [37]:
connection = sqlite3.connect('../data/checking-logs.sqlite')
query = "PRAGMA table_info(checker);"
scheme = pd.read_sql(query, connection)
scheme

   cid       name       type  notnull dflt_value  pk
0    0      index    INTEGER        0       None   0
1    1     status       TEXT        0       None   0
2    2    success    INTEGER        0       None   0
3    3  timestamp  TIMESTAMP        0       None   0
4    4  numTrials    INTEGER        0       None   0
5    5    labname       TEXT        0       None   0
6    6        uid       TEXT        0       None   0

## Первые 10 строк таблицы checker

In [ ]:
first_10_query = 'SELECT * FROM checker'
first_10 = pd.read_sql(first_10_query, connection)
first_10 = first_10[first_10['uid']]
first_10

KeyError: False

## Строки, удовлетворяющие условиям

In [ ]:
subquery = 'SELECT COUNT(*) FROM pageviews WHERE uid IN \
            (\
            SELECT uid FROM checker\
            WHERE uid LIKE "user_%" AND status = "ready" AND numTrials = 1 AND labname IN ("laba04", "laba04s", "laba05", "laba06", "laba06s", "project1")\
            )'
result = pd.read_sql(subquery, connection)
result = result.rename(columns={'COUNT(*)': 'cnt'})
result

   cnt
0  984

## Закрытие соединения с базой данных

In [ ]:
connection.close()